<h2 mat-dialog-title>添加解冻手续</h2>
<mat-dialog-content class = 'h-100'>
  <mat-form-field>
    <mat-label>填表时间：</mat-label>
    <input matInput [(ngModel)]="createDate" [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="w-200">
    <mat-label>文书编号：</mat-label>
    <input matInput [value]="docNumber$|async">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>取消</button>
  <button mat-button mat-dialog-close (click)=onSubmit()>确定</button>
</mat-dialog-actions>
